<!DOCTYPE HTML>
<html>
    <head>   
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4T2H5SLF4E"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4T2H5SLF4E');
        </script>

        <title>D2 Framework</title>
    </head>

    <body>
        <header>
            <h1>D2: Detect and Defend Framework</h1>
            <h2>A framework that is able to detect C2 framework from netflow</h2>
        </header>
        <div>
            <input type="file" accept=".csv"/>
            <button>Check file</button>
        </div>
    </body>
</html>