<%- include("head.ejs") -%>
<body>
    <% if (percentage > 0.5) { %>
        <p>Your device seems to be infected: <%= percentage %></p>
    <% } else if (percentage < 0.5) { %>
        <p>Your device seems to be safe: <%= percentage %></p>
    <% } else { %>
        <p>Your device seems to be undefined: 0.5</p>
    <% } %>
    <button id="home_button">Check another file</button>
    <%- include('script.ejs') -%>
    <script>
        document.getElementById("home_button").addEventListener("click", home_button);
    </script>
</body>
