<!DOCTYPE html>
<head>
    <%- include("head.ejs") -%>
    <link rel="stylesheet" type="text/css" href="answer.css">
</head>
<body>
    <p id="likely">Infection probability: <%= 100*locals.percentage %>%</p>
    <p id ="answer">
    <% if (percentage > 0.5) { %>
        Your device seems to be infected.
    <% } else if (percentage < 0.5) { %>
        Your device seems to be safe.
    <% } else { %>
        Device state not clearly defined.
    <% } %>
    </p>
    <div id="home_button_container">
        <button id="home_button">Check another file</button>
    </div>
    <script>
        document.getElementById("home_button").addEventListener("click", home_button);
    </script>
</body>