<!DOCTYPE html>
<head>
    <%- include("head.ejs") -%>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    <header>
        <h1>D2: a framework detecting C2 framework infections.</h1>
    </header>
    <div id="border">
        <p id="intro">
            This site will provide a friendly UI to use the D2 detection framework.<br/>
            For now it is only the layer 1 of the framework that is available.<br/><br/>
            I will gather and forge more data to train the LSTM and have better results.<br/>
            It is a work in progress, be aware of that when using it.
        </p>
        <div id="input_block">
            <input id="input_file" class="inner_flex_item" type="file" accept=".csv"/>
            <button id="button_file" class="inner_flex_item">Check file</button>
        </div>
    </div>
    <script>
        document.getElementById("button_file").addEventListener("click", button);
    </script>
</body>


