<!DOCTYPE html>
<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    <header>

    </header>
    <h1>D2: a framework detecting C2 framework infections.</h1>
    <p class="intro">
        This site will provide a friendly UI to use the D2 detection framework.
        For now it is only the layer 1 of the framework that is available.
    </p>
    <div class="input-bloc">
        <input id="input_file" type="file" accept=".csv"/>
        <button id="button" onclick="button();">Check file</button>
    </div>
    <%- include('script'); -%>
</body>


