#home_button{
    font-size: 1.5em;
    align-self: center;
}

#likely{
    font-size: 2em;
    width: 100vw;
    text-align: center;
}

#answer{
    font-size: 3.5em;
    width: 100vw;
    text-align: center;
}
#home_button_container{
    width: 100vw;
    margin-top: 3%;
    padding-left: 47%;  
}
body{
    margin:0;
    margin-top: 15%;
}