<!DOCTYPE HTML>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4T2H5SLF4E"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4T2H5SLF4E');
        </script>
    </head>

    <body>
        <header>
            <h1>Answer page</h1>
        </header>
        <p>You device has an infection probability of: {{ PERCENTAGE | safe }}%</p>
    </body>
</html>